	<ion-view view-title="Dashboard" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-dashboard" class=" page-dashboard">
		    <div class="dashboard-panel">
            <!-- Image -->
      <img src="data/images/header/slide1.png" style="width:100%;height:10%;">
            <div class="card">
            <img src="data/images/header/banner23.png" style="width:100%;height:10%;">
            </div>
      <!-- row -->
      <div class="row" style="margin:auto;">
        <a class="col-33 ink" ng-href="#/pemrograman_dasar/pelajaran" style="border-right:2px solid #ECF0F1;border-bottom:2px solid #ECF0F1;color:#00AFEF;">
          <i class="icon ion-ios-bookmarks"></i>
          <p>Pelajaran</p>
        </a>
                <a class="col-33 ink" ng-href="#/pemrograman_dasar/ringkasan" style="border-bottom:2px solid #ECF0F1;color:#00AFEF;">
                  <i class="icon ion-ios-book"></i>
                  <p>Ringkasan</p>
                </a>
                <a class="col-33 ink" ng-href="#/pemrograman_dasar/latihan" style="border-left:2px solid #ECF0F1;border-bottom:2px solid #ECF0F1;color:#00AFEF;">
                  <i class="icon ion-code-working"></i>
                  <p>Latihan</p>
                </a>
      </div>
            <div class="row">
              <a class="col-33 ink" run-app-whatsapp message="Assalamualaiku, saya memiliki beberapa pertanyaan" style="border-right:2px solid #ECF0F1;color:#00AFEF;">
                <i class="icon ion-social-whatsapp"></i>
                <p>Kontak</p>
              </a>
              <a class="col-33 ink" style="color:#00AFEF;">
                <i class="icon ion-android-person"></i>
                <p>Tentang</p>
              </a>
              <a class="col-33 ink" style="border-left:2px solid #ECF0F1;color:#00AFEF">
                <i class="icon ion-power"></i>
                <p>Keluar App</p>
              </a>
            </div>
      <!-- ./row -->
      

    </div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
