	<ion-view view-title="Rangkuman" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-ringkasan" class=" page-ringkasan">
		<div class="dropdown">
  <div onclick="myFunction()" class="dropbtn card">Semester 1</div>
  <div id="myDropdown" class="dropdown-content" style="margin-right:2.5%;margin-left:2.5%;">
    <a href="#">Bab 1. Dasar-Dasar Algoritma</a>
    <a href="#">Bab 2. Algoritma Percabangan</a>
    <a href="#">Bab 3. Algoritma Perulangan</a>
  </div>
  <div onclick="myFunction2()" class="dropbtn card">Semester 2</div>
  <div id="myDropdown2" class="dropdown-content" style="margin-right:2.5%;margin-left:2.5%;">
    <a href="#">Bab 1. Pengenalan Bahasa Pemrograman</a>
    <a href="#">Bab 2. Variabel, Tipe Data dan Operator</a>
    <a href="#">Bab 3. Struktur Percabangan</a>
    <a href="#">Bab 4. Struktur Perulangan</a>
    <a href="#">Bab 5. Pengembangan Algoritma Aplikasi</a>
  </div>
</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
