	<ion-view view-title="Pelajaran" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-pelajaran" class=" page-pelajaran">
		 <div class="dropdown">
  <div onclick="myFunction()" class="dropbtn card">Semester 1</div>
  <div id="myDropdown" class="dropdown-content">
    <div onclick="myFunction2()" class="dropbtn" style="background-color: #3498db;margin-right:2.5%;margin-left:2.5%;border-bottom:1px solid #E0E0E0;">Bab 1. Dasar-Dasar Algoritma</div>
      <div id="myDropdown2" class="dropdown-content" style="margin-right:2.5%;margin-left:2.5%;">
        <a href="#">1.1 Konsep dan Struktur Algoritma</a>
        <a href="#">1.2 Algoritma Menggunakan Bahasa Natural</a>
        <a href="#">1.3 Pengenalan Variabel</a>
        <a href="#">1.4 Pengenalan Tipe Data</a>
        <a href="#">1.5 Pengenalan Operator</a>
        <a href="#">1.6 Penyajian Algoritma dengan Pseudecode</a>
        <a href="#">1.7 Penyajian Algoritma dengan Flowchart</a>
        <a href="#">1.8 Penggunaan Tool Pembuatan Flowchart</a>
      </div>
    <div onclick="myFunction3()" class="dropbtn" style="background-color: #3498db;margin-right:2.5%;margin-left:2.5%;border-bottom:1px solid #E0E0E0;">Bab 2. Algoritma Percabangan</div>
      <div id="myDropdown3" class="dropdown-content" style="margin-right:2.5%;margin-left:2.5%;">
        <a href="#">2.1 Algoritma Percabangan dengan 1 Kondisi</a>
        <a href="#">2.2 Algoritma Percabangan dengan 2 Kondisi</a>
        <a href="#">2.1 Algoritma Percabangan lebih dari 2 Kondisi</a>
        <a href="#">2.4 Algoritma Percabangan dengan struktur CASE OF</a>
        <a href="#">2.5 Algoritma Percabangan Bersarang</a>
        <a href="#">2.6 Pendalaman Materi Percabangan</a>
      </div>
    <div onclick="myFunction4()" class="dropbtn" style="background-color: #3498db;margin-right:2.5%;margin-left:2.5%;border-bottom:1px solid #E0E0E0;">Bab 3. Algoritma Perulangan</div>
      <div id="myDropdown4" class="dropdown-content" style="margin-right:2.5%;margin-left:2.5%;">
        <a href="#">3.1 Perulangan dengan Kondisi di Awal</a>
        <a href="#">3.2 Perulangan dengan Kondisi di Akhir</a>
        <a href="#">3.3 Perulangan dengan Kondisi Akhir Diinputkan User</a>
        <a href="#">3.4 Perulangan Menggunakan Pencacah Naik</a>
        <a href="#">3.5 Perulangan Menggunakan Pencacah Turun</a>
      </div>
  </div>
  <div onclick="fungsigue1()" class="dropbtn card">Semester 2</div>
  <div id="dropdown1" class="dropdown-content">
    <div onclick="fungsigue2()" class="dropbtn" style="background-color: #3498db;margin-right:2.5%;margin-left:2.5%;border-bottom:1px solid #E0E0E0;">Bab 1. Pengenalan Bahasa Pemrograman</div>
      <div id="dropdown2" class="dropdown-content" style="margin-right:2.5%;margin-left:2.5%;">
        <a href="#">1.1 Pengenalan Bahasa Pemrograman</a>
        <a href="#">1.2 Struktur Bahasa Pemrograman Pascal</a>
        <a href="#">1.3 Standar Input Output</a>
        <a href="#">1.4 Kompilasi Program dan Perbaikan Kesalahan</a>
      </div>
    <div onclick="fungsigue3()" class="dropbtn" style="background-color: #3498db;margin-right:2.5%;margin-left:2.5%;border-bottom:1px solid #E0E0E0;">Bab 2. Variabel, Tipe Data dan Operator</div>
      <div id="dropdown3" class="dropdown-content" style="margin-right:2.5%;margin-left:2.5%;">
        <a href="#">2.1 Variabel, Tipe Data dan Konstanta</a>
        <a href="#">2.2 Operator dan Ekspresi</a>
      </div>
    <div onclick="fungsigue4()" class="dropbtn" style="background-color: #3498db;margin-right:2.5%;margin-left:2.5%;border-bottom:1px solid #E0E0E0;">Bab 3. Struktur Percabangan</div>
      <div id="dropdown4" class="dropdown-content" style="margin-right:2.5%;margin-left:2.5%;">
        <a href="#">3.1 Percabangan 1 Kondisi</a>
        <a href="#">3.2 Percabangan 2 Kondisi</a>
        <a href="#">3.3 Percabangan Lebih Dari 2 Kondisi</a>
        <a href="#">3.4 Percabangan Bersarang</a>
      </div>
    <div onclick="fungsigue5()" class="dropbtn" style="background-color: #3498db;margin-right:2.5%;margin-left:2.5%;border-bottom:1px solid #E0E0E0;">Bab 4. Struktur Perulangan</div>
      <div id="dropdown5" class="dropdown-content" style="margin-right:2.5%;margin-left:2.5%;">
        <a href="#">4.1 Perulangan Dengan Kondisi di Awal</a>
        <a href="#">4.2 Perulangan Dengan Kondisi di Akhir</a>
        <a href="#">4.3 Perulangan Dengan Kondisi Diinputkan User</a>
        <a href="#">4.4 Perulangan Dengan Pernyataan Break & Continue</a>
      </div>
    <div onclick="fungsigue6()" class="dropbtn" style="background-color: #3498db;margin-right:2.5%;margin-left:2.5%;border-bottom:1px solid #E0E0E0;">Bab 5. Pengembangan Algoritma Aplikasi</div>
      <div id="dropdown6" class="dropdown-content" style="margin-right:2.5%;margin-left:2.5%;">
        <a href="#">5.1 Pengembangan Aplikasi dan Analisis Pemecahan Masalah</a>
        <a href="#">5.2 Error Handling</a>
        <a href="#">5.3 Debugging</a>
        <a href="#">5.4 Study Kasus Proyek Pengembangan Aplikasi</a>
      </div>
  </div>
</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
