	<ion-view view-title="About Us" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-about_us" class="padding page-about_us">
		
<div class="text-center">
    <img class="avatar relative" ng-src="data/images/header/logo23.png" />
    <p>Pemrograman Dasar v1.0</p>
</div>
<br/>
<div class="list card">
  <a class="item item-icon-left" ng-click="openURL('http://ww.facebook.com')" >
    <i class="positive icon ion-social-facebook"></i>
    Like Us on Facebook
  </a>    
      
   <a class="item item-icon-left" ng-click="openURL('mailto:sigitsurya23@gmail.com')" >
    <i class="icon ion-android-mail royal"></i>
    For Business Cooperation<br/>
    <span>
        Email: sigitsurya23@gmail.com
    </span>
  </a>
</div>
<br/>
<div class="text-center">
    <p>&copy; 2018 <a ng-click="openURL('http://sigitsurya23.com')" >SigitSuryaNet</a><br/>All Rights Reserved</p>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
